* {
    margin: 0%;
    padding: 0%;
    
}

header {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #B3596B;
    
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

nav a {
    color: #EBA8A8;
    text-decoration: none;
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-size: 1.2em;
}

nav a:hover {
    color: #1F4172;
}

.nombre {
    background-color: #F1B4BB;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.nombre h1 {
    font-family: "Spicy Rice", serif;
    font-size: 5em;
    padding: 50px ;
    line-height: 75px;
    color:#B3596B ;
    letter-spacing: 2px ;
}

.nombre h1::after {
    padding-top: 10px;
    content: "✤";
    display: block;
}

.nombre img {
    width: 60%;
    height: auto;
}

#sobre_mi, #estudios {
    height: 100vh;
    background-color: #1F4172;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#sobre_mi img {
    height: 140%;
    align-self: center;
}

.info_sobremi {
    height: fit-content;
    max-width: 600px;
    align-self: center;
    padding: 300px;
    color: #FDF0F0;
} 
h2 {
     font-family: "Spicy Rice", serif;
     font-weight: 100;
     letter-spacing: 1px;
}

p {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
}

#experiencia, #habilidades{
    height: 100vh;
    width: auto;
    background-color: #F1B4BB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#experiencia img {
    width: auto;
    height:160%;
}

.info_exp {
    align-self:center;
    margin: 250px;
    color:#1F4172;
}

h3 {
    font-family: "Spicy Rice", serif;
    font-size: 1em ;
     font-weight: 100;
     letter-spacing: 1px;
     padding-top: 10px;
}

ul {
    list-style: "✤";
    padding-top: 10px;
}

#estudios img {
    height: 200%;
    width: auto;
}

.info_estudios {
    padding: 200px;
    color:#FDF0F0;
}

#habilidades img {
    height: 150%;
    width: auto;
    align-self: flex-start;
}

.info_habilidades {
    align-self: center;
    margin: 170px;
    color: #1F4172;
}

.info_habilidades ul li::before {
    content: "✤";
}

.info_habilidades ul li {
    display: flex;
    align-items: baseline;
}
.info_habilidades ul li p {
    padding-left: 20px;
}

.txt_habilidades {
    padding-top: 20px ;
}

footer {
    padding: 10px;
    background-color: #B3596B;
    display: flex;
    justify-content: center;
}

footer h2 {
    padding: 10px;
    color: #FDF0F0;
    display: flex;
    justify-content: center;
    

}

#contacto ul {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    padding: 20px;
    color: #FDF0F0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    max-width: 900px;
}

#contacto ul li{
    display: flex;
}
#contacto ul li a {
    text-decoration: none;
    color: #FDF0F0;
    padding: 0px 10px;
}

#contacto ul li a:hover {
    color: #1F4172;
}
